[2019-02-01 01:13] rchrd2 opened #1 "Publish packages to npm"
Should go under the `@internetarchive` org.
Update README with install info.

[2019-03-09 16:19] #1 closed, assigned to nobody

[2019-03-21 17:34] koderjoker opened #15 "Unable to inspect/debug components of archive.org using developer tools"
While trying to inspect/debug a component of archive.org in the React tab with Chrome's developer tools the message `Waiting for roots to load...` appears and never proceeds to show the components.

![Screen Shot 2019-03-21 at 10 24 44 PM](https://user-images.githubusercontent.com/30471843/54771802-0ce33680-4c2c-11e9-904d-0328593edc2b.png)

It seems to occur due to pre-existing syntactic issues in

[2019-03-22 15:28] shreyansh23 opened #16 "Installation steps fails for Ubuntu 18.04"
On installing the project using the instructions in README.md. The steps fails at some points.
This includes:
- error due to fsevents package
- babal-core version error

[2019-03-22 16:01] iisa opened #17 "Add issue templates"
Create issue templates for bugs, feature requests, general questions

[2019-03-22 22:27] #17 closed, assigned to nobody

[2019-03-22 23:26] Batey96 commented on #16
exactly what i faced.Did  some research and found out fsevent no more supported on linux Os.
To erase the yarn instance warning,simply run the instances parralelly with this on the terminal:
**yarn run lerna bootstrap --concurrency=1*

[2019-03-22 23:28] Batey96 commented on #16
exactly what i faced.Did some research and found out fsevent no more supported on linux Os.
To erase the yarn instance warning,simply run the instances parralelly with this on the terminal:
**yarn run lerna bootstrap --concurrency=1**

[2019-03-23 00:09] shreyansh23 commented on #16
Yes @Batey96 `fsevents` do not support linux. The correct way of using that module is putting it in optional dependencies. Please see the PR. I shared the relevant resources in the comments.

[2019-03-24 12:45] shreyansh23 opened #21 "Jest tests failing on second time running storybook"
**Description**

The test running command was causing a problem on second time running `yarn run storybook`.

`   "test:generate-output": "mkdir jest-test-utils && jest --json --outputFile=jest-test-utils/jest-test-results.json || true",`

But if `jest-test-utils` folder already exist the test then the above mentioned command was unable to run.

**Evidence / Screenshot (if possible)**
![Screenshot

[2019-03-25 13:32] koderjoker opened #26 "Navbar icons fail WCAG AAA"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making the navbar more accessible.
The navbar icons for media and upload (class: iconochive-*) currently fail WebAIM's colour contrast check for WCAG AAA.

<img src="https://user-images.githubusercontent.com/30471843/54923388-22a87280-4f30-11e9-8fdb-64f34a7cb7d8.png"  width="200"/> <img src="https://user

[2019-03-25 14:37] koderjoker opened #27 "To increase tap target size for navbar icons"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making the navbar more accessible.

[Material design accessibility guidelines](https://material.io/design/usability/accessibility.html) state touch targets should be 48dp by 48dp with a 8dp separation size.

Current tap targets sizes for mobile are (px):
icons on the left < 25 x 30
IA’s logo 40 x 30
Hamb

[2019-03-25 14:39] koderjoker opened #28 "Replacing collections on home page with media information in navbar"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making user navigation easier.

The current navbar holds far too many items. Due to this
- it is difficult to increase the tap target size for navbar items (Refer to issue #27)
- it confuses users by giving them a multitude of options to choose from

<img src="https://user-images.githubusercontent.com/30

[2019-03-25 15:25] koderjoker opened #29 "Reduce search field to a magnifying glass icon"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making the navbar more accessible.
The items on the navbar take up too much space which makes it difficult to increase their tap target size (issue #27).
![Screen Shot 2019-03-25 at 8 41 18 PM](https://user-images.githubusercontent.com/30471843/54931157-820d7f00-4f3e-11e9-98e5-778be2dd2b6a.png)

**Descri

[2019-03-25 15:50] koderjoker opened #30 "Shifting Internet Archive's logo to the left"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making user navigation easier.
Research says that logos aligned on the left are better for navigation, and are easier for users to remember. Also, since there are already many icons on the navbar, for certain screen widths the Internet Archive's logo seems a bit lost in between.
![Screen Shot 2019-03-25

[2019-03-25 16:13] Saichethan opened #31 "Website optimization and AMP version for mobile users"
**Is your feature request related to a problem? Please describe.**

[https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://archive.org/](url)

**Describe the solution you'd like**

**Proposal & Constraints**

**Stakeholders**

[2019-03-25 16:20] koderjoker opened #32 "Screen reader behaviour with navwrap1"
**Is your feature request related to a problem? Please describe.**

The following issue aims at making the navwrap1 more accessible.
It is confusing for someone using a screen reader to navigate a toprow (which displays itself after clicking an icon). It isn’t clear what happens after selecting an icon, and contrary to one’s expectation, it isn’t available next in focus after selecting an icon, as

[2019-03-25 16:37] koderjoker opened #33 "Reviewing current button colour scheme"
**Is your feature request related to a problem? Please describe.**
Most of the buttons in Internet Archive use Bootstrap's btn-primary, which fails WebAIM's colour contrast check
![Screen Shot 2019-03-25 at 10 01 40 PM](https://user-images.githubusercontent.com/30471843/54937185-f00b7380-4f49-11e9-8c77-6646ec64fe3e.png)
https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=428BCA
http

[2019-03-25 17:03] koderjoker opened #34 "Login page: email and password fields have different appearances"
**Is your feature request related to a problem? Please describe.**
The email and password fields are of different widths and padding as the two have different styles applied to them.
![Screen Shot 2019-03-25 at 10 17 08 PM](https://user-images.githubusercontent.com/30471843/54938119-c6ebe280-4f4b-11e9-8cc8-8745d9494d56.png)

Style applied to password field
![Screen Shot 2019-03-25 at 10 25 47 PM](

[2019-03-25 17:18] akshaykumar23399 commented on #30
Did you want to shift the logo to left and i have one more suggestions that we can create a menu column in which user get all navbar icon

[2019-03-25 17:22] koderjoker opened #35 "Semantics: Remove instances of <br>"
**Is your feature request related to a problem? Please describe.**
In many places on the website, especially for label and input fields (Signup page, Login page) `<br>` tags are used to keep items on separate lines which go against good practice.

**Describe the solution you'd like**
The  `<br>`s can be removed and items kept on different lines by changing `display: inline-block` to `display: bloc

[2019-03-26 13:47] MonilBhavsar commented on #34
Also the login container needs to be framed inside a proper container which results in the better UI.

**Current login page:-**

<img width="1040" alt="Screenshot 2019-03-26 at 7 13 28 PM" src="https://user-images.githubusercontent.com/32012005/55001900-9b283580-4ffb-11e9-8bb3-847a27eb64b6.png">

**Expected Login Page:**

<img width="1040" alt="Screenshot 2019-03-26 at 7 13 10 PM" src="https://use

[2019-03-26 14:07] MonilBhavsar opened #36 "Front Page: Proper Grid Display of Top Collections at the Archive"
**Description**

The Top Collections at the Archive  have grids which are having different heights of the elements.

**Evidence / Screenshot (if possible)**

![FireShot Capture 009 - Internet Archive_ Digital Library of Free   Borrowable Books, Movies,_ - archive org](https://user-images.githubusercontent.com/32012005/55003070-a9775100-4ffd-11e9-8f6b-f4e02d8db000.png)

**Expectation**

The grids c

[2019-03-26 15:03] koderjoker commented on #36
In order to implement a uniform grid system for not only the home page but also for search results, all `searchResultCard`s need to be brought under a uniform system. Some issues we'd have to go over would be:

- Deciding on a common height, width and shape for the [searchResultCard--collection](https://github.com/internetarchive/iaux/wiki/Design-Pattern-Library#searchresultcard--collection), [sea

[2019-03-26 15:16] koderjoker opened #37 "Improve sign up description"
**Is your feature request related to a problem? Please describe.**
The following issue aims at making user navigation easier.
The current description for signing up at the Internet Archive is "Don't have a virtual library card? Register for free!"
![Screen Shot 2019-03-26 at 8 36 45 PM](https://user-images.githubusercontent.com/30471843/55008564-28bd5280-5007-11e9-817c-6a383202d533.png)

Are we co

[2019-03-26 15:25] koderjoker opened #38 "Standarise search result cards to implement a uniform grid system for search results"
The following is the parent issue to track overall progress on designs of the search results tiles.

**Child issues for the same**
- [x] To decide on an equivalent height for all search result cards #195
- [x] Change the information areas for borrow/waitlist/sensitive into image overlays #196
- [ ] Decide on an accessible colour palette

Individual issues for each type of card: #164 (media cards),

[2019-03-26 18:23] Speedwares opened #39 "Jest tests failing on running storybooks with reference to babel-core"
**Description**

Test command failing  on `yarn run storybook`
Test failed due to version of babel-core. I have version 7.3.4 of @babel/core installed and version 6.26.3 of babel-core installed.

**Evidence / Screenshot (if possible)**

![Screenshot (287)up](https://user-images.githubusercontent.com/14877634/55022200-511d6080-4fb7-11e9-8d39-beb8a0499b83.jpg)

**Expectation**

The tests should pass

[2019-03-26 22:53] mekarpeles commented on #29
@jimbonator this may be relevant to some of the work you're doing

[2019-03-26 22:56] mekarpeles commented on #29
@pezvi this may be relevant to some of the work you're doing

[2019-03-26 23:02] pezvi commented on #29
This is a great issue. Thanks for document it. It overlaps with a mobile navbar design we're currently handling internally, which will resolve this issue. I'm closing this issue here.

[2019-03-26 23:02] #29 closed

[2019-03-26 23:07] pezvi commented on #27
Thanks for documenting! Claiming this one as an internal issue. :)

[2019-03-26 23:07] #27 closed

[2019-03-26 23:09] pezvi commented on #26
Another great issue, which is part of the navbar work being done internally. Claiming this issue, too.

[2019-03-26 23:09] #26 closed

[2019-03-26 23:12] pezvi commented on #30
There's redesign in progress on the topnav bnar. Claiming this one internally.

[2019-03-26 23:12] #30 closed

[2019-03-26 23:26] pezvi commented on #38
Thanks for documenting some of the specific issues. This one's also being worked on internally, so I'm tagging it as internal (though I'm leaving the issue open, so we can potentially follow up here).

[2019-03-26 23:30] pezvi commented on #33
@koderjoker Thank you, thank you, thank you for documenting this. We're also using Bootstrap's alerts, some of which (all of which?) also fail. Can you document that issue, too, please?

[2019-03-27 02:42] koderjoker commented on #33
Sure, I'll add alerts to the above issue too and rename it.

[2019-03-27 09:10] MonilBhavsar opened #40 "Making Login-Signup Page UI better"
**Description**

The login page and signup page has some design an UI flaws, they can be solved if the input elements are made of equal width and fitted inside the container(As in expectation image)

**Evidence / Screenshot (if possible)**

<img width="1040" alt="Screenshot 2019-03-26 at 7 13 28 PM" src="https://user-images.githubusercontent.com/32012005/55063306-b8addb80-509d-11e9-99e4-4693541cec

[2019-03-27 11:10] sagban commented on #40
Hello @MonilBhavsar
I would like to fix this issue.
Please, assign this to me.

[2019-03-27 11:46] koderjoker commented on #33
@pezvi I can't find an instance where bootstrap's alert class is used at archive.org, could you please direct me to one?

[2019-03-27 15:48] mekarpeles commented on #40
No design flaws were actually mentioned in the description no evidence was provided the proposal is an improvement.

The first step of iaux should be migrating our components from the archive.org website (as is) into a standalone component within the iaux repo.

Design proposals should be clearly labeled as such and presented for discussion.

Closing until these requirements are met

[2019-03-27 15:48] #40 closed

[2019-03-27 17:13] pezvi commented on #33
Yeah, now that I look, I'm not sure we're actually using bootstrap's alert class... maybe just their color schemes?

Some quick examples:
1. The help text on https://archive.org/create.php?lma=1 (hit the "?" icon to open the help box)
2. The borrow and join waitlist badging on item tiles https://archive.org/details/inlibrary?sort=-publicdate

[2019-03-27 17:37] koderjoker commented on #33
@pezvi I'll add the above two examples to the issue, and keep adding on other examples with Bootstrap's colour scheme as I find them.

[2019-03-28 00:13] shreyansh23 opened #41 ""Click here to .." text is half cut"
**Description**
"Click here to contribute your book" text is visible only half cut off.

**Evidence / Screenshot (if possible)**
![Screenshot from 2019-03-28 05-32-55](https://user-images.githubusercontent.com/32803230/55120451-28fb4200-511c-11e9-932f-5d295440c5bd.png)

**URL**
https://archive.org/details/opensource?sort=creatorSorter

**Expectation**
The text should be properly shown.

[2019-03-28 00:40] shreyansh23 opened #42 "Poor comment submission user experience"
**Description**
On submitting a comment. It take to a page saying that task has been started and details will be available after several minutes!
But the comment is visible instaneously on the detail page. The user thinks that the comment is still load and keeps waiting. This results in bad user experience.

**Evidence / Screenshot (if possible)**
![Screenshot from 2019-03-28 05-53-57](https://use

[2019-03-28 00:54] shreyansh23 opened #43 "Aligment problem with favourited/unfavourited modal"
**Description**
On adding an item to favourite, a modal appears after a few seconds with a message "favourited".
There are two problems.
- The modal's position is not vertically centred to the page.
- There is no real need for modal in this case! A simple toast or message should be sufficient.

**Evidence / Screenshot (if possible)**

![Screenshot from 2019-03-28 06-13-46](https://user-images.gith

[2019-03-28 01:17] Batey96 commented on #42
@shreyansh23 i think this issue points to the Internals of archive's codebase.I tested the time of process and updating the database and not upto a half second did the review.php script use to do so..
A plain fix for the @stakeholders to simply reload the page back to the  archive.org/details/item and there you go,you finally see an updated reviewPane component.Or better still give the user an opt

[2019-03-28 01:24] Batey96 commented on #43
It seems like the site uses this process to refresh and update the database.It also seems there is a backend script like name_of_script.php that does the work of updating the db of favourited counts for the item..This is still an internal matter and @stakeholders best have their reasons

[2019-03-28 02:19] iisa commented on #43
I was wondering when this will be uncovered :) please add this to the
component audit as well

On Wed, Mar 27, 2019, 6:24 PM Batey Martin <notifications@github.com> wrote:

[2019-03-28 09:09] ani4aniket commented on #41
I would like to work on this issue.

[2019-03-28 12:15] Batey96 opened #44 "Poor rendering of the hamburger menu on smart devices"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Proposal & Constraints**

**Additional context**

![Screenshot_2019-03-28-02-56-17](https://user-images.githubusercontent.com/24868289/55124255-ea5a8d00-5105-11e9-8dee-e7f379908dd2.png)

Users expect clicking outside to close

    if it closes on menu clicking => Ok, it's expected
    if it

[2019-03-28 16:53] Batey96 opened #45 "wrong rendering of book's information in the "Book to Borrow" collection"
**Is your feature request related to a problem? Please describe.**

![alredayborowed](https://user-images.githubusercontent.com/24868289/55171709-224ee800-5179-11e9-8a58-880da7c09a5d.png)

 After borrowing i still found out that on the "Book to Borrow" collection,the book is still listed there with the "Join waitList" button

![waitxlistTile](https://user-images.githubusercontent.com/24868289/5517

[2019-03-29 00:18] Batey96 opened #47 "Create stand-alone component for Review"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Proposal & Constraints**

**Additional context**

**Stakeholders**

****
Currently the write-review.php page has a very weak UI/UX with its poor rendering of its form elements most especially the rating-stars.the elements present do not scale up responsively in other devices

![reviewing](ht

[2019-03-29 15:54] sagban commented on #41
@bfalling Can I start with this?

[2019-03-29 16:42] Batey96 opened #50 "Create stand-alone component for the Item Review section"
**Is your feature request related to a problem? Please describe.**

![reviewinfo](https://user-images.githubusercontent.com/24868289/55245967-87bbdb00-5244-11e9-80e8-b21f61b1aa7b.png)

**Describe the solution you'd like**

![New Wireframe 2(1)](https://user-images.githubusercontent.com/24868289/55248192-8e991c80-5249-11e9-975f-1ee69fd9e55d.png)

**Stakeholders**

[2019-03-30 04:18] sarru1291 commented on #47
Hey, Is it necessary to use bootstrap for button style? or we can use apply own style?

[2019-03-30 09:52] Batey96 commented on #47
The Readme states that Bootstrap 3 should be used..No idea on if we could apply custom styles..refer to @stakeholders

[2019-03-30 13:40] shreyansh23 commented on #16
Issue solved in #22
Closing this issue.

[2019-03-30 13:41] #16 closed

[2019-03-30 17:24] shreyansh23 opened #53 "A better way to provide star ratings"
**Is your feature request related to a problem? Please describe.**
The form field to record ratings (0 to 5) in review form can be reduced to an individual and more esthetic component for start rating.

**Describe the solution you'd like**
Only one field should be present the user can select the no the stars and accordingly the rating will be given.

Current:
![Screenshot from 2019-03-30 22-41-26]

[2019-03-30 18:21] sarru1291 commented on #53
Can we further extend it to include natural number (e.g. 1,2...5 star) to fractional also (e.g. 1.5, 2.5...4.5 star)?

[2019-03-31 08:46] sarru1291 opened #55 "Resolving various issues of updating profile image"
**Is your feature request related to a problem? Please describe.**
While updating my profile image ( when I hover on ) I found various problems such as:
* `image to upload` modal didn't hide when I clicked on upload image button but not selected any image to upload.
![Screenshot from 2019-03-31 08-03-10](https://user-images.githubusercontent.com/22962336/55286442-c45d1300-53b9-11e9-8599-6b20fe5cf8

[2019-04-01 08:59] Batey96 opened #56 "Unecessary scrolling due to dump of Archive.org's team info data"
**Steps to reproduce.**

**Problem statment**

It becomes more worse when viewing from a mobile.User becomes tired of all this work he has to do should in case he wants to know about the team.
![bios](https://user-images.githubusercontent.com/24868289/55314877-f70f1600-5462-11e9-9d6e-a9d9c50c3c55.png)

**Describe the solution you'd like**

![New Wireframe 2(2)](https://user-images.githubuserconten

[2019-04-01 17:39] sarru1291 opened #57 "Misplaced button in metadata editor"
**Is your feature request related to a problem? Please describe.**

Submit button in the metadata editor of user is incorrectly positioned
![Screenshot from 2019-04-01 22-54-42](https://user-images.githubusercontent.com/22962336/55347588-e0080c80-54d2-11e9-9730-3d9ef89691ff.png)
 i.e. it has zero margin from bottom.
**Describe the solution you'd like**

[2019-04-02 05:56] MonilBhavsar commented on #53
Yes fractional ratings would be better.

[2019-04-02 06:07] MonilBhavsar commented on #47
@Batey96 , I can redesign it using Bootstrap 3 or bootstrap 4 which would result in more material and proper UI/UX.

[2019-04-03 10:43] ani4aniket commented on #41
@shreyansh23 I have created the PR fixing this issue. Please review this.
![Screenshot from 2019-04-03 15-52-03](https://user-images.githubusercontent.com/31184591/55473098-66cffd00-562b-11e9-9166-c74962144fb9.png)

[2019-04-03 11:15] shreyansh23 commented on #41
@ani4aniket Thank you for your contribution.
The PR will be reviewed by the mentors.

[2019-04-03 12:19] shaneriley opened #59 "Resolve React warning for missing key in Paginator component"
**Description**

React issues a warning whenever iteration is used to render HTML and a key is not provided to speed up component updating.

**Evidence / Screenshot (if possible)**
<img width="997" alt="Screen Shot 2019-04-03 at 8 13 31 AM" src="https://user-images.githubusercontent.com/39553/55478134-e4bee480-55e8-11e9-9f05-6a2cb382c1c8.png">

**Expectation**

A key should be designated to each p

[2019-04-03 16:25] #59 closed

[2019-04-05 08:20] shreyansh23 opened #65 "Build Error on running detail-react prototype"
**Description**

Getting on Build React the prototype detail-react using `yarn parcel`

**Evidence / Screenshot (if possible)**

![Screenshot from 2019-04-05 13-39-44](https://user-images.githubusercontent.com/32803230/55613498-7163d100-57a8-11e9-9f5d-19a9e2e3bfdc.png)

![Screenshot from 2019-04-05 13-48-18](https://user-images.githubusercontent.com/32803230/55613965-96a50f00-57a9-11e9-8ed8-c211e5

[2019-04-05 11:07] shreyansh23 commented on #65
More information:
- the import error gets fixed by prefixing "@internetarchive" with the import path
- the `hello` prototype is running fine as it is not involving any import

[2019-04-05 20:56] shreyansh23 opened #68 ""Error retrieving XML data" on editing member profile details"
**Description**

Getting "Error retrieving XML data"  when trying to edit member profile.

**Evidence / Screenshot (if possible)**

![error-on-edit-page](https://user-images.githubusercontent.com/32803230/55655958-3ea2f280-5813-11e9-9128-fa7694fef48a.gif)

**Details**

**Stakeholders**

[2019-04-08 18:50] iisa commented on #53
Referencing @Batey96 's design proposal here: https://github.com/internetarchive/iaux/issues/47

[2019-04-08 21:14] koderjoker opened #71 "Make the column-facet component togglable on smaller screens"
**Is your feature request related to a problem? Please describe.**

Currently, the column-facet is hidden for screen width <=567 px. Thus, users are unable to sort their search results using filters.
<img src="https://user-images.githubusercontent.com/30471843/55757112-d2252f00-5a70-11e9-8fdc-78640a79019b.png"  width="500"/>

Additionally, for screen width >567 px to <=662px a lot of horizontal sc

[2019-04-08 22:00] koderjoker opened #72 "Convert column-facet into an accordion menu"
**Is your feature request related to a problem? Please describe.**
Due to the long list of filters in the [column-facet](https://github.com/internetarchive/iaux/wiki/Design-Pattern-Library#column-facet) component, it is confusing for users to go through all of them and decide what filter they want to apply. The same holds for navigation in screen readers.
An accordion menu shall make the above muc

[2019-04-08 22:41] koderjoker opened #73 "Replace lists of filters in modal with a filter search bar"
**Is your feature request related to a problem? Please describe.**
(After clicking on the "More" option of a filter subsection) By listing all the filters, archive.org
- Increases loading time: the filters modal loads slowly as filters are often high in number)
- Confuses users by listing too many options
- Makes it difficult for users to search for a particular filter they want to apply
- Makes i

[2019-04-08 22:59] koderjoker opened #74 "Add a "Skip to search results" link"
**Is your feature request related to a problem? Please describe.**
On search results pages, in order to reach the search results, one must tab through all the filters on the page. This effects keyboard users/screen readers.

**Describe the solution you'd like**
Give a user the option to "Skip to search results", similar to the "Skip to main content" link.

[2019-04-09 11:54] ananay opened #75 "Missing Petabox logo"
**Description**
There is no image for Petabox on [https://archive.org/projects/](https://archive.org/projects/)
The image URL currently renders a 404.

**Evidence / Screenshot (if possible)**
![image](https://user-images.githubusercontent.com/5569219/55798273-68fae700-5a83-11e9-8f50-a85e019722af.png)

**Expectation**
Create a logo for Petabox or add an image of Petabox itself:
![image](https://use

[2019-04-09 12:16] ananay commented on #75
I've also created a logo for Petabox just in case it is needed. Comments and suggestions are welcome!

![Petabox Logo](https://user-images.githubusercontent.com/5569219/55799600-9b5a1380-5a86-11e9-80ff-bd062c68abb4.png)

[2019-04-09 12:20] ananay commented on #75
I've created a logo for Petabox incase one is required. Comments and suggestions are welcome!

![Petabox Logo](https://user-images.githubusercontent.com/5569219/55799763-0277c800-5a87-11e9-807b-f035cca596c0.png)

@bfalling @iisa

[2019-04-09 13:23] ananay opened #76 "Incorrect directory paths under "ia-prototypes-apps" in documentation"
**Description**
The directory paths in "ia-prototype-apps" are wrong.

**Evidence / Screenshot (if possible)**
![image](https://user-images.githubusercontent.com/5569219/55803763-d57be300-5a8f-11e9-867e-e0dda4268753.png)

**Expectation**
"packages/prototypes" should be changed to "packages/ia-prototype-apps"
"packages/prototypes/prototypes" should be changes to "packages/ia-prototype-apps/apps"

[2019-04-09 18:18] iisa opened #78 "Create Youtube Player Component"
**Describe the solution you'd like**
Create a component wrapper around YouTube Player API.

**Proposal & Constraints**
This component should accept a playlist, callbacks for youtube events

Component should handle tracking the playlist, displaying default error case, sending callbacks in lifecycles if present

Component: React
API: https://developers.google.com/youtube/iframe_api_reference

[2019-04-09 18:22] shreyansh23 opened #79 "Upgrade to Babel 7"
**Is your feature request related to a problem? Please describe.**

Upgrade to Babel 7

Currently, Babel version 6 is installed. The current version of Jest is incompatible with Babel 6 which causes errors on running tests (See #39 for more details)

**Stakeholders**
@iisa @bfalling

[2019-04-09 18:27] shreyansh23 opened #80 "Upgrade to Storybook 5"
Is your feature request related to a problem? Please describe.

Upgrade to Storybook 5

Currently, Storybook 4 is being used. Storybook 5 has been out and is the biggest release from @storybooks

Storybook 5 offers a lot of new and useful features. For more information read the official blog post https://medium.com/storybookjs/storybook-5-0-db1d0f9c83b8

Stakeholders
@iisa @bfalling

[2019-04-09 18:29] iisa commented on #15
currently we do not have too many React components on archive.org, perhaps that this the issue?

[2019-04-09 18:30] shreyansh23 commented on #78
@iisa I have developed something earlier. I used React Player (https://www.npmjs.com/package/react-player) for this.

[2019-04-09 18:57] shreyansh23 opened #81 "Fix errors on running prototypes"
**Description**
Currently, the parcel commands for running prototypes do not work correctly. The commands throw Build Error or Import Error. Probably, there is some error with the package reference.

[2019-04-09 20:10] sarru1291 opened #84 "Poor responsive page of file to upload"
**Is your feature request related to a problem? Please describe.**
There is hiding of search bar and navigation bar in the file to upload web page. Also there is very poor styling and rendering of file to upload div element.
![Screenshot_20190331-075259](https://user-images.githubusercontent.com/22962336/55831722-6fe03300-5b31-11e9-9844-c30e20a76c27.png)

[2019-04-11 06:55] Batey96 commented on #68
Hey @shreyansh23.i reproduced your steps more than 3 times on each menu tab of the userpage but could'nt find any instance of this issue.IStrange you have such..Can you repeat the steps again and see if it still persists?

[2019-04-11 11:00] sarru1291 commented on #68
@Batey96 weeks back I also found this error but now it's working fine.

[2019-04-11 18:06] thepeoplesbourgeois commented on #78
So, this component would link to content hosted on youtube?

[2019-04-12 03:52] sarru1291 commented on #81
Import error has been resolved but now it's showing new error i.e.
![Screenshot from 2019-04-12 09-15-10](https://user-images.githubusercontent.com/22962336/56011223-39a6dd00-5d04-11e9-97a1-ca1c8282ef49.png)
which I guess related to babel which is unable to export some files.

[2019-04-12 22:37] mitra42 opened #90 "Clean up promise structure"
**Description**
Promise structure left over from original IAUX is odd, it makes many of the same mistakes I did when starting with promises, I fixed it in the dweb branch, but that never got merged, and the code has morphed too much to apply.
At the meeting with @bfalling  & @iisa  I was asked to resubmit.

This is pending (and will be a priority for me) once #86 is merged as given the experience

[2019-04-13 18:36] koderjoker opened #92 "Remove pagination arrows and buttons from tab order"
**Is your feature request related to a problem? Please describe.**
The following issue addresses keyboard and screen reader accessibility.

While navigating through the music player by keyboard, allowing a user to interact with the pagination arrows and pagination buttons hampers interaction with the playlist's tracks and makes the user experience confusing.

- Interaction with the pagination butt

[2019-04-17 17:09] iisa commented on #78
yes

[2019-04-17 18:32] #39 closed

[2019-04-17 20:02] pezvi commented on #75
Thank you for raising this issue (and for pinging us again when you didn't hear back).

There's definitely supposed to be a petabox image in that spot, which appears to have gone missing earlier this year. I've opened an issue on our internal system to address this bug.

Although we have an image to use for petabox, I also wanted to mention I appreciated you proposing a logo in case we needed one.

[2019-04-17 20:02] #75 closed

[2019-04-18 01:54] mekarpeles commented on #75
Also, a great way to see what that image *was* is using the Wayback Machine!!

http://web.archive.org/web/20160306232531/http://archive.org/projects/

There it is!

![image](https://user-images.githubusercontent.com/978325/56331689-3cf5fa80-6142-11e9-95c8-02327f5ffe49.png)

[2019-04-18 16:47] #92 closed

[2019-04-18 21:56] #90 closed

[2019-04-19 01:41] Batey96 opened #103 "Bloated codebase"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Stakeholders**

[2019-04-19 09:28] sarru1291 commented on #78
@iisa [PR #104](https://github.com/internetarchive/iaux/pull/104)

[2019-04-19 17:01] waldenn opened #105 "Search API results should return consist language-field formats (3-letter language-codes)"
**Description**

The search API results currently are not consistent wrt the language-field format.

See this [example search](https://archive.org/advancedsearch.php?q=odense&fl[]=language&sort[]=&sort[]=&sort[]=&rows=50&page=1&output=json&save=yes)

English items are returned both as " "english" and as "eng" and the same is true for other languages.

**Evidence / Screenshot (if possible)**

See e

[2019-04-19 23:20] mitra42 commented on #105
There are two parts to solving this .
A - the work that Arthur is doing (he's not in this repo) to clean up the metadata, i don't know if this difference is on his list
B - The work in the [dweb-archive](https://github.com/@Internetarchive/dweb-archive) and  [dweb-archivecontroller](https://github.com/@Internetarchive/dweb-archivecontroller) to clean up the results of the metadata API call to enfo

[2019-04-20 04:47] mitra42 opened #107 "Babel issue making ia-components accessible by other packages"
I'm trying to use the newly merged components from dweb-archive, but ... getting errors from Babel.

To see the problem these steps should work ...
[code]
There are three possible ways to include `TileImage` from `components/tiles/TileComponent.js`:
#### 1: `import TileImage from "./TileImage";`

then webpack --mode development  works, proving that the problem isn't with the file itself.

#### 2:

[2019-04-20 04:51] mitra42 commented on #107
@shreyansh23 I think you are the Babel expert, could you take a look. I'm not sure if the fix is needed in dweb-archive, or in ia-components,  I'm hoping its in the latter to make it easier to include ia-components in other things, but if the problem is in dweb-archive, then I'm guessing its in `.babelrc` or `webpack.config.js` and it looks like the webpack.config has already been edited to try an

[2019-04-20 07:30] shreyansh23 commented on #107
@mitra42 I am definitely not an expert :sweat_smile: but would like to give my try on this issue.

Can you please confirm the branch? I couldn't find branch named iaux in dweb-archive.

[2019-04-20 07:33] shreyansh23 commented on #107
Another note, the import problem here is similar to the ones coming on running `ia-prototype-apps`.
See issue  #65, #81

[2019-04-20 11:01] waldenn commented on #105
Hi, thanks. The link to Util.js is appreciated for confirmation. I had already added most of the 3-letter codes to my Wikipedia-table (which uses 2-letter codes) in my project: https://wikischool.org/explore
I can now query Archive.org & Wikipedia for a specific language the user has selected.

Somewhat unrelated: Why not always using an array for data fields that can contain multiple values? Pers

[2019-04-20 12:14] Batey96 opened #108 "Setup fails due to erros in ia-js-client package"
**Description**
ON a fresh clone and install,errors are being encountered when bootstrapping the packages.This is as a result of typo errors in the ia-js-client package..

**Steps To Reproduce**
[code]

![iajsfail](https://user-images.githubusercontent.com/24868289/56456896-aeb08d00-636a-11e9-996b-60f9020ed0ae.png)

[2019-04-20 16:05] mekarpeles commented on #105
You're welcome to post archive.org API comments here: https://github.com/archivelabs/archive.org/issues

Right now we don't use github for the archive.org backend + APIs.

[2019-04-20 23:59] mitra42 commented on #105
@waldenn - yes, it would be great if the metadata JSON API was consistent - either always arrays, or always arrays for any field that can be muli-value and always strings for the rest.   Most people who build on the API's seem to do this fix first, since otherwise every time you use any value from the API you have to test it.

I have a document of many of the inconsistencies and weirdnesses in our

[2019-04-21 00:01] mitra42 commented on #105
Also @waldenn  not sure if you are thanking me for the link to Util.js or asking for it, its in the dweb-archivecontroller repo I linked to, at the top level.

[2019-04-21 00:07] mitra42 commented on #108
Are any of them a result of the changes I made recently ?

I need a scroll-up on your screen shot, as I can't see what you are running that generates these errors, can you post the STR and I'll check the bugs aren't something I introduced.

[2019-04-21 00:09] mitra42 commented on #107
Oops - my mistake @shreyansh23 , that branch wasn't just local to my machine. It should be pushed to github now

[2019-04-21 00:36] waldenn commented on #105
Yes, I was just thanking for all the good work you people are doing! Looking forward to seeing that list : )

[2019-04-21 06:23] Batey96 commented on #108
Yes i think so.the recent changes made the bug!..because i compared it with an older ia-js-client package and bootstrapping was okay..the additions you made handling fallbacks are a source of it..typo errors which i fixed.PR sent

[2019-04-21 06:24] Batey96 commented on #108
PR 109

[2019-04-21 21:33] mitra42 commented on #108
Thanks - I posted comments in

[2019-04-21 22:43] Batey96 commented on #108
Steps To Reproduce
[code]

[2019-04-22 01:24] mitra42 commented on #108
Thanks @Batey96 for adding them above.

[2019-04-23 15:25] Batey96 opened #117 "Users should freely navigate to other channels while still playing a current channel track"
**Problem**

Currently track which users play from a particular channel on the audioPlayer is being closed automatically when a new channel is selected.

**Describe the solution you'd like**

**Proposal & Constraints**

AudiPlayer should only get affected when user clicks on a particular track from any channel

**Additional context**
problem
![tracks](https://user-images.githubusercontent.com/2486

[2019-04-23 16:27] pezvi commented on #34
Thanks for raising this issue. It's currently being addressed internally, so I'll go ahead and close this issue here.

[2019-04-23 16:27] #34 closed

[2019-04-23 19:39] sarru1291 opened #118 "MultiMode Image Viewer"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Proposal & Constraints**

Just like the image filter available on the mobile phone to change the image completely.

**Additional context**

I have made PR [(#83 ](https://github.com/internetarchive/iaux/pull/83) ) which is just a sample of the multimode image viewer.

**Stakeholders**

[2019-04-26 00:57] Batey96 commented on #108
Issue resolved

[2019-04-26 00:57] #108 closed

[2019-04-26 04:03] mitra42 commented on #107
@shreyansh23 - any luck with this ?

[2019-04-26 04:06] shreyansh23 commented on #107
@mitra42 really sorry I couldn't investigate much since my finals are going on. It will take just few more days to end.

[2019-04-26 18:22] waldenn opened #124 "Allow for searching for an OCLC ID"
**Context**

I would like to link/search for an OCLC book ID via openlibrary, eg for "OCLC:1744006":

  https://openlibrary.org/search?q=OCLC:A1744006

This is already possible for ISBNs:

  https://openlibrary.org/search?q=ISBN:9780394404288

For now I am using a link to WorldCat ([example](https://wikischool.org/explore/The%20Prophet%20(book)?l=en)), but would prefer to link to the OpenLibrary.

[2019-04-26 18:29] waldenn commented on #124
Sorry, now posted on the OpenLibrary issue tracker.

[2019-04-26 18:29] #124 closed

[2019-04-30 17:02] pezvi commented on #118
Who do you consider to be the target audience for this? What would their typical use cases be?

[2019-04-30 17:09] sarru1291 commented on #118
it would avail images in different mode to the users just like image filter.

[2019-05-01 14:11] shreyansh23 commented on #107
@mitra42 finally on experimenting and reading more docs on Babel 7, I found that the problem was coming because of the presets. The necessary the presets are already specified `.babelrc` file but for some reason, they are not working from there.

Therefore specifying the presets in `webpack.config.js` itself makes them work correctly.

Please see PR https://github.com/internetarchive/dweb-archive/

[2019-05-03 23:39] mitra42 opened #136 "Switch file extensions from js to jsx"
**Task Details**

Change extensions to .jsx - and its needed on both iaux and dweb-archive

**Verification**

Should webpack on both dweb-archive#iaux and iaux#master

**Stakeholders**
@mitra42 @iisa

[2019-05-03 23:40] mitra42 opened #137 "Add jsdoc"
**Task Details**
Sample doc sent from ISA in Slack just now
**Verification**
?
**Stakeholders**
@mitra42 @iisa

[2019-05-04 05:28] shreyansh23 commented on #107
@mitra42 I saw you have approved and merged the changes. Should this issue be closed?

[2019-05-04 21:53] Batey96 opened #141 "Unable to run PageContainer due to references to the jwplayer component"
**Description**

**Evidence / Screenshot (if possible)**

![jjwcomp](https://user-images.githubusercontent.com/24868289/57185221-57103680-6ebf-11e9-9eb4-225b179f743e.png)

**Stakeholders**

[2019-05-04 23:00] mitra42 commented on #107
Thanks for the changes ... worked as described, I left it open because there are two more steps
a) switch those components to use .jsx as requested by @iisa   which I think will break the changes you made,
b) include files from the top level i.e. from ia-components/index.js which may or may not break the changes.

I haven't yet had time to make & test those changes, which is why its still open.

T

[2019-05-05 17:37] Batey96 opened #143 "Error on fetching data for RelatedAsList component"
**Description**

**Evidence / Screenshot (if possible)**

![hits](https://user-images.githubusercontent.com/24868289/57197907-8036d280-6f64-11e9-81c6-e5f4f5eb440a.png)

**Expectation**

Nb:call to the API on the browser tab looks good thus link to API is still valid(not broken)

**Stakeholders**

[2019-05-05 23:07] mitra42 commented on #143
My understanding for the meeting with @iisa & @bfalling when I was in SF was that RelatedAsList was an obsolete example (by Richad ?) that never did intended to do a decent render of anything, but was just to demo the potential of linking the API with components.  In my minimal testing of it, it didn't work (probably the bug above) but since it wasn't close to doing what I needed I haven't tried t

[2019-05-05 23:09] mitra42 commented on #143
Alternatively .... you could take tiles/RelatedItems.jsx and hook it to the api in ia-js-client ? But I think that API will go away at some point since I don't think anyone likes the API / structure of ia-js-client (I could be wrong about that).

[2019-05-06 20:51] Batey96 commented on #143
Hey @mitra42 ,gone through the RelatedItems.jsx comp,passed an Item instance as prop but seems like the component is referencing a call to an undefined relatedItems() method..detail guides on running the component will be a plus to me please

[2019-05-06 21:57] mitra42 commented on #143
Hi Batey - yes, as mentioned RelatedItems currently uses the controllers in the [dweb-archivecontroller](https://github.com/@Internetarchive/dweb-archivecontroller) repo, so there will need to be some code to use the existing controllers from ia-js-client which are far less functional (currently).

I updated the comments on ArchiveItem.relatedItems() to make it clearer, its fetching the json from

[2019-05-08 18:53] mekarpeles commented on #118
This is one of the original goals of the IIIF standard which Archive Labs has been experimentally providing as a service since 2015 -- see https://github.org/archivelab/iiif.archivelab.org repo and an example of how a patron experiences this: https://iiif.archivelab.org/iiif/TheGeometry.

The TL;DR is, IIIF is an image API standard which allows institutions to serve images as if they were google m

[2019-05-16 21:51] iisa opened #152 "Move IAUXExample Component outside of Index.js"
**Task Details**

Move IAUXExampleComponent outside of Index.js

We created IAUXExampleComponent as a tracer bullet for integration into IA's Petabox code.
This was also a conversation starter on how to create a pattern for integration of ia-components.

With the convergence fo dweb using ia-components, it is good to revisit the need for this inclusion and also our component import patterns overal

[2019-05-16 22:29] iisa opened #153 "ArchiveMember.js cannot resolve during webpack build"
![image](https://user-images.githubusercontent.com/7840857/57891168-4204a300-77ef-11e9-8bfe-2245481f9a2b.png)

Internal Petabox build is breaking due to ArchiveMember.js not included.
Planned with @mitra42 to possibly include `@internetarchive/dweb-archivecontroller` into ia-components.
He is confirming that `@internetarchive/dweb-archivecontroller` dependencies are correct and up to date.

[2019-05-17 01:06] #153 closed

[2019-05-17 08:00] mitra42 commented on #136
This was done in a recent PR

[2019-05-17 08:00] #136 closed

[2019-05-17 08:00] mitra42 commented on #107
Closing as both those steps worked

[2019-05-17 08:00] #107 closed

[2019-05-17 08:38] mitra42 commented on #137
I'm working through these one by one, including where appropriate tidying up the component  in which case I'll submit as a separate PR.

[2019-05-17 23:37] mitra42 commented on #153
Note the conclusion was that there is a balance between component-encapsulation and not creating dependencies on controllers in lower-level components, and best way is to have component at higher level pass down the data. For now moved back to dweb-archive until that higher level component is ready

[2019-05-19 01:25] Batey96 opened #158 "Removing DetailsCollectionsList.jsx from IAUX breaks storybook"
**Description**

**Evidence / Screenshot (if possible)**

![resolve](https://user-images.githubusercontent.com/24868289/57976641-e3048100-79dc-11e9-86e0-034c7e7b3145.png)

**Stakeholders**

[2019-05-22 17:39] koderjoker opened #164 "Standardise our media cards"
**What is the context for this discussion?**

Issue to summarise and add on to discussion on slack over [here](https://internetarchive.slack.com/archives/CCD6SB4ES/p1555514298033400) and act as a checklist for the [searchResultCard--media](https://github.com/internetarchive/iaux/wiki/Design-Pattern-Library#searchresultcard--media) card's design and development.

Child issue of [#38](ttps://github.

[2019-05-23 15:36] koderjoker opened #165 "Standardise our account cards"
**What is the context for this discussion?**

The following is to act as a checklist for the [searchResultCard--account](https://github.com/internetarchive/iaux/wiki/Design-Pattern-Library#searchresultcard--account) card's design and development.

Child issue of [#38](https://github.com/internetarchive/iaux/issues/38)

<br>
<br>

**Elaborate on the discussion topic.**

Tasks needed to be tackled:

[2019-05-23 21:42] koderjoker opened #166 "Standardise our collection cards"
**What is the context for this discussion?**

Issue to summarise the discussion on slack over here and add on some points. The following is to act as a checklist for the [searchResultCard--collection](https://github.com/internetarchive/iaux/wiki/Design-Pattern-Library#searchresultcard--collection) card's design and development.

Child issue of [#38](ttps://github.com/internetarchive/iaux/issues/38

[2019-05-28 17:15] #158 closed

[2019-05-28 20:44] iisa opened #169 "Flatten Directory Structure of ia-components sandbox"
**Task Details**

components should live in a flattened directory inside of live & sandbox directories.

Task:
[ ] move `components` in theatres directory to top level
[ ] make sure all import & export references are working
[ ] make sure all examples are running inside storybook
[ ] Identify other components that can be moved to the flatter structure

Items @koderjoker and I have identified:
- [

[2019-05-29 14:58] iisa opened #170 "Music Player: change the alt tags of SVG images in channel selector and content viewer to show their action "play Spotify", "playing Spotify" ..."
https://webarchive.jira.com/browse/WEBDEV-2288

[2019-05-29 15:48] #170 closed

[2019-05-29 21:13] iisa opened #172 "Music Player: add Liner Notes using BookReader"
Liner notes should live as a tab in the Audio Player's Content window.
 On Tab click, user should see book reader.
 User is able to toggle look at all the pages in book reader.
 User should be able to make book reader full screen.
 Toggling to book reader should not stop any music playing if music was already playing.

Search should work.

https://webarchive.jira.com/browse/WEBDEV-2203

[2019-05-30 17:58] iisa opened #174 "Upgrade `axios` to 0.19.0 in ia-components"

[2019-05-30 20:49] iisa commented on #169
@koderjoker when doing this, let's make this the main issue to track progress.  We can do smaller PRs are you flatten parts of the code and we will create a master list in this issue.  That way you are not left with a giant block to push through.  Also, we can make smaller tickets to reflect the smaller PRs.   How does that sound?

[2019-05-30 20:50] koderjoker commented on #169
Sounds great!

[2019-05-30 20:51] iisa opened #176 "Add a lint runner to automatically run a linter check to every PR that is created."

[2019-05-30 21:07] #174 closed

[2019-05-31 19:15] iisa commented on #33
Though we are using standard Bootstrap element/status colors, we should look at this audit from an archive.org point of view.  I've updated the title to reflect that.

[2019-05-31 19:20] iisa commented on #36
Closing this in favor of using #38 as the main issue.

[2019-05-31 19:20] #36 closed

[2019-05-31 19:21] iisa commented on #38
This work will also help #33

[2019-06-03 18:35] #172 closed

[2019-06-04 18:07] shaneriley commented on #176
To perform this check post-PR creation, we would need a CI server to clone the branch, install the Node dependencies, and run the linter. While I'm sure that's doable, it's likely something in Tracey's realm. We could, however, use something (pre-commit)[https://www.npmjs.com/package/pre-commit] to run the linter and prevent the commit if it fails.

[2019-06-06 07:05] bfalling opened #178 "Replace YouTube embed with YouTube API integration"
**Context**

Our integration with YouTube’s player is currently very limited. We’re basically just using their default embed. We can respond a lot better by using their API.

**Proposal & Constraints**

Replace the basic embed with integration with their API, which will provide the following benefits:

Ability to detect when song’s end, in order to play next

Ability to detect when there is a prob

[2019-06-06 16:58] koderjoker commented on #38
Mockups for media cards
![Screen Shot 2019-06-06 at 10 00 43 PM](https://user-images.githubusercontent.com/30471843/59051297-251d3600-88aa-11e9-9871-4493ed585280.png)

Mockups for all cards (Media, collection, account and saved search)
![Screen Shot 2019-06-06 at 10 00 24 PM](https://user-images.githubusercontent.com/30471843/59051327-3ebe7d80-88aa-11e9-84e7-a7758dd125d2.png)

Sample composition o

[2019-06-06 22:18] iisa opened #179 "SVG Management & Possible Generic SVG Component"
**What is the context for this discussion?**

@Batey96's proposal of an SVG icon directory #116 has sparked interest and perhaps a creation of an SVG component.

**Elaborate on the discussion topic.**

This issue is to capture the discussion and interest, and action items when ready to be made

[2019-06-06 23:15] koderjoker opened #180 "Revise the requirement of audio-1 in ia-components"
**What is the context for this discussion?**
From discussion on pr #177 with @iisa. To decide whether or not to keep audio-1 in iaux's repo.

[2019-06-07 12:37] shaneriley opened #181 "Upgrade packages to address security vulnerabilities"
We have four security alerts in [GitHub's security checker](https://github.com/internetarchive/iaux/network/alerts). Three cannot be addressed without upgrading @frctl/fractal, but one can be addressed by upgrading parcel-bundler.

[2019-06-07 15:18] #181 closed

[2019-06-07 15:36] #169 closed

[2019-06-07 16:56] iisa opened #183 "Music Player - add support for .wma files"
https://webarchive.jira.com/browse/WEBDEV-2338

[2019-06-07 18:59] #183 closed

[2019-06-11 04:09] mitra42 opened #191 "Removing functionality ..."
**What is the context for this discussion?**

There appears to have been a decision made to remove functionality from components, to make them "display only".

**Elaborate on the discussion topic.**

In my opinion this is a bit of a mistake, because it breaks encapsulation, i.e. the functionality is removed (in the code) from where it logically belongs, to something at a different level - probably

[2019-06-11 05:52] mitra42 commented on #191
The components below typically use either DwebArchive or DwebArchive.mirror to distinguish between three cases - either running against dweb.archive.org or running against a local mirror, and do not render, or do not execute the functionality for other IAUX cases, they fall into a few groups.

[2019-06-11 05:53] mitra42 commented on #191
** Components that have functionality, but only in DwebArchive &/or DwebArchive.mirror cases.
I have behavior in click handlers that call back to methods, typically these are navigational..

details/AnchorDownload calls Nav.nav_download,(in non DWeb the renderer emits a plain Ancho)

AnchorDetails calls Nav.nav_details, (in non DWeb the renderer emits a plain Anchor)

Tiles/ParentTileImg can be pa

[2019-06-11 05:55] mitra42 commented on #191
**Call AJS functionality**

details/ModalGo.jsx contains AnchorModalGo and ButtonModalGo which copy the functionality from archive.org of calling AJS.modal_go which is in archive.js and pops up modal dialogues.
- [ ] That functionality could be moved into the component if anyone understands archive.js 🙂

Details/Tabby calls AJS.tabby in archive.js to switch tabs,
- [ ] again it could be moved into

[2019-06-11 06:00] mitra42 commented on #191
** Dweb only **
These components are either only included if parent components are Dweb, or render `null` if used outside Dweb. Components could be moved back into dweb-archive, but they are typically included under NavWrap which would create a dependency from IAUX to Dweb-Archive which is to be avoided.

None of these depend on dweb-archivecontroller being required/imported. And I don't plan on f

[2019-06-11 06:02] mitra42 commented on #191
**Depend on Member structure**
Several places depend on the “member” data structure or an array of these members.
“ArchiveMember” is a class in dweb-archive & dweb-mirror but it can equally well be an Object with the appropriate fields, those fields are the fields returned by Gio’s related items query or by an advancedsearch with the set of fields requested that are sufficient to paint a tile.

Th

[2019-06-13 16:24] koderjoker opened #193 "Update iaux to use the latest version"
**Task Details**
In order to avoid peer dependency warnings and to always get the latest version with yarn, petabox and our bookreader are to be updated to `^4.2.2` (Internet archive's bookreader currently uses `4.2.2`)
Iaux should be updated to `^4.2.2` for the same.

[2019-06-14 18:20] koderjoker opened #195 "Standardise heights of search result cards"
**Description**
Subtask of #38: To decide on an equivalent height for all search result cards.

Sample:
![image](https://user-images.githubusercontent.com/30471843/59528702-95583700-8efc-11e9-89fe-f437775a94d9.png)

Link to mockups:

Details for current version of cards (As of 7 June)

**Media cards:**
- [x] Card area is restricted to 295x180px
- [x] Number of lines for title limited to 2
- [x] Nu

[2019-06-14 18:31] koderjoker opened #196 "Change the information areas for borrow/waitlist/sensitive into image overlays"
**Description**
Subtask of #38: Change the information areas for borrow/waitlist/sensitive into image overlays

_From #164_

All of our media cards don't have information areas. This causes a discrepancy in card heights.
 <img src="https://user-images.githubusercontent.com/30471843/58196774-a7bdc700-7ce8-11e9-87cc-355038743c73.png" width="150"/> <img src="https://user-images.githubusercontent.com/

[2019-06-17 17:51] iisa opened #197 "YouTube wrapper - create unit test"

[2019-06-21 23:12] iisa opened #205 "Create a new index file for dweb"
DWeb components are coming in hot and we need to ensure that they are able to be received and used by dweb at any given time.

Meanwhile, we should introduce them into the main index file once we start working on em

[2019-06-21 23:16] iisa opened #207 "make IA's JWPlayer (Play8) wrapper stable"
Currently, the gating of events is adding complexity on both sides.  Let's clean this up

[2019-06-21 23:17] #205 closed

[2019-06-21 23:19] #207 closed

[2019-06-25 17:07] #193 closed

[2019-06-26 14:46] koderjoker opened #213 "Handling errors in the youtube player"
**Task Details**
![Error handling](https://user-images.githubusercontent.com/30471843/59980003-405ba580-960d-11e9-93f8-602b6687ed4d.gif)
Currently, in our youtube player, we immediately skip a track in case of the following
- Requesting an invalid id
- Errors regarding the HTML5 player
- Video requested was not found (Video has been removed or has been marked as private)
- Owner of the requested v

[2019-06-27 17:40] iisa opened #214 "Do not load JWPlayer if there are no tracks"
Problem: JWPlayer gets into an error state if you try to load it without tracks.

Solution, do not load player if there are no tracks

[2019-06-27 18:44] iisa opened #215 "BookReader - make sure that images scale"

[2019-06-28 12:05] Batey96 commented on #179
Hey i have been quiet due to some other involvments but i still am attentive to all updates of the community..And i place myself available to work on this if the core team accepts this issue #179

[2019-07-01 19:28] koderjoker opened #221 "Stop autoplaying the ia-player after changing channels"
**Task Details**
Currently our ia-player autoplays the selected track after switching channels. Our aim is to make sure the selected track doesn't autoplay after doing so.

**Stakeholders**
@iisa

[2019-07-01 19:32] koderjoker opened #222 "Stop autoplaying the youtube player after changing channels"
Task Details
Currently, our youtube player autoplays the selected track after switching channels. Our aim is to make sure the selected track doesn't autoplay after doing so.

[2019-07-01 20:18] koderjoker opened #223 "settimeout and autoplay disrupt normal track progression"
**Task Details**
After clicking Angel followed by Same Ole Love, tracks play unconsecutively because every track is trying to complete their settimeout and autoplay.
(Angel, You’re the Best Thing Yet, Same Ole Love and No One in the World are tracks with errors)

![Jul-02-2019 01-27-50](https://user-images.githubusercontent.com/30471843/60463809-91e9dd00-9c6a-11e9-900b-593fa4b4a78f.gif)

[2019-07-02 17:33] Batey96 commented on #222
Hey Koder,is it similar to my PR #128?

[2019-07-02 17:40] koderjoker commented on #222
Nope, since this one deals with the youtube component (youtube-player.jsx).

The music player has seen many changes since then.

[2019-07-03 07:08] thepeoplesbourgeois commented on #78
I'm curious... is archive.org moving away from archiving this content and ensuring its persistent availability? It seems that the aspect of retrieving this content from external domains implies, for one reason or another, that it is unavailable on the Internet Archive's own hosted network

[2019-07-03 17:09] iisa commented on #78
Hi @thepeoplesbourgeois 👋 - good question!

The answer is no, never.  We will always archive and make what we have accessible on our site, given our uptime stability.

We have found some videos that match our items, and we are constructing a richer experience that includes this bonus content for these certain items.

[2019-07-03 18:22] iisa opened #226 "React Testing Framework: Enzyme or react-test-renderer"
**Driving point:**
One should always test the expected behaviour of components (i.e. the users' perspective). Avoid testing the internal implementation, even if testing libraries make it easy.

`react-test-renderer`
1. It is a library for rendering React components to pure JavaScript objects, and for asserting the behaviour of our components. Does not operate on DOM nodes unlike the below.
2. Shal

[2019-07-09 19:01] shaneriley opened #227 "Resolve GitHub security issues for mem and handlebars"
See:
https://github.com/internetarchive/iaux/network/alert/packages/ia-design-system/yarn.lock/handlebars/open
https://github.com/internetarchive/iaux/network/alert/packages/ia-design-system/yarn.lock/mem/open

Update both to address moderate vulnerabilities.

[2019-07-11 18:42] #178 closed

[2019-07-11 21:44] #214 closed

[2019-07-12 15:30] koderjoker opened #230 "Stop youtube player from loading first track as default"
**Task Details**

Currently, our youtube player is sent first track by default at the start. When the first track isn't available for the same, the youtube component is sent a blank id, and thus the creation of the youtube player fails.

The starting track needs to be checked if it has a video on youtube, before sending it to the youtube component. If not available, another succeeding track should

[2019-07-15 19:09] koderjoker opened #231 "Youtube video thumbnail's dimension are different from original"
**Task Details**
Currently, the thumbnail loaded by the youtube iframe api has different dimensions than our player, compared to the original thumbnail.

This is because the dimensions provided to the Youtube iframe api while loading the player object (height: 600px, width: 600px) don't match up with our screen responsive player.

[2019-07-19 16:05] koderjoker commented on #196
First revised prototypes for the same (as of last week)

New card design
![image](https://user-images.githubusercontent.com/30471843/61548804-21193200-aa6c-11e9-9572-8e3f726c1fb3.png)

With borrow badge
![image](https://user-images.githubusercontent.com/30471843/61548808-25454f80-aa6c-11e9-98ae-75b6c885a900.png)

With waitlist badge
![image](https://user-images.githubusercontent.com/30471843/61548

[2019-07-19 20:56] #230 closed

[2019-07-22 07:45] koderjoker opened #234 "Jwplayer bar is visible through other players"
**Description**
The jwplayer bar is sometimes visible when the user is using other players.
![Screen Shot 2019-07-22 at 1 13 58 PM](https://user-images.githubusercontent.com/30471843/61615027-b55ce200-ac82-11e9-9593-6d4820bcb4b9.png)

[2019-07-23 00:17] iisa opened #237 "JWPlayer wrapper - use onReady function to check for track list starting point"

[2019-07-24 21:16] koderjoker commented on #196
Examples of current card prototypes on search page (as of today)
![Artboard](https://user-images.githubusercontent.com/30471843/61829259-24eeef00-ae86-11e9-9b9f-8e7e29d7c73c.png)
![Artboard](https://user-images.githubusercontent.com/30471843/61829273-2cae9380-ae86-11e9-8f1b-a731bb227ff5.png)

[2019-07-30 20:12] shaneriley opened #242 "Replace usage of `assert` with `expect` assertion library in unit tests"
In the interest of creating a universal guide for testing in all IA projects, we should replace any usage of the assert library with Jest's built in expect library of matchers.

[2019-07-31 21:08] koderjoker opened #246 "Main issue: Implementing top navigation bar"
**Task Details**

The following issue is to serve as the main issue to record and track progress for implementing our new topnav at archive.org!

Aim is to implement a generic navbar which can serve for different screen widths.

Currently our topnav has 2 cases to consider:
- [ ] Implementing a default mobile navigation bar
- [ ] Implementing a mobile navigation bar with search suppressed (eg. For

[2019-07-31 21:21] mitra42 commented on #246
Note that there is a set of components in the dweb project that do that - some are here in IAUX (in the "mitra-release" branch, and some are still in dweb-archive

[2019-07-31 21:36] koderjoker opened #247 "Implement default mobile topnav bar"
**Task Details**

The following issue is to serve as a tasklist of issues pertaining to our **default mobile topnav bar**

The flow of components for the same are as follows:
![Flow](https://user-images.githubusercontent.com/30471843/62251722-4748b580-b40e-11e9-9618-ee61df6f7628.png)

Prototype for menu interactions
<img src="https://user-images.githubusercontent.com/30471843/62296240-4e160d80-b48

[2019-07-31 21:46] koderjoker opened #248 "Implement main navigation bar"
**Task Details**

The following issue is to serve as a tasklist of issues pertaining to our default mobile topnav bar.

Mockup for the same with components marked
![Screen Shot 2019-08-01 at 3 13 51 AM](https://user-images.githubusercontent.com/30471843/62250466-97257d80-b40a-11e9-9c73-53e2ab22eba4.png)

[2019-07-31 21:53] koderjoker opened #249 "Implement hamburger menu"
**Task Details**

The following issue is to serve as a task list of issues pertaining to our **hamburger menu**

Mockup for the same with components marked
![Screen Shot 2019-08-01 at 3 19 39 AM](https://user-images.githubusercontent.com/30471843/62250710-495d4500-b40b-11e9-982f-45003dcf3bdb.png)

Subtasks
- [ ] **Issue #250:** Implement sliders for iconochive icon sections
- [ ] **Issue #251:** I

[2019-07-31 21:59] koderjoker opened #250 "Implement sliders for iconochive icon sections"
**Task Details**

The following issue aims at implementing sliders for the **iconochive icon sections** which include the Wayback Machine, Texts, Video, Audio, Software and Images.

Mockup for the Audio Section
![Screen Shot 2019-08-01 at 3 28 00 AM](https://user-images.githubusercontent.com/30471843/62251164-7cec9f00-b40c-11e9-80fb-12a5ca56ca89.png)

[2019-07-31 22:02] koderjoker opened #251 "Implement slider for more section"
**Task Details**

The following issue aims at implementing a slider for the **more section**.

Mockup for the more section
![Screen Shot 2019-08-01 at 3 31 31 AM](https://user-images.githubusercontent.com/30471843/62251294-eb316180-b40c-11e9-9c56-cc5182e4e8bd.png)

[2019-07-31 22:08] koderjoker opened #252 "Implement search"
**Task Details**

The following issue is to serve as a task list of issues pertaining to our **search**
![Screen Shot 2019-08-01 at 3 37 13 AM](https://user-images.githubusercontent.com/30471843/62251543-b2de5300-b40d-11e9-92f5-ae1953566037.png)

Subtasks
- [ ] **Issue #:** Implement search field
- [ ] **Issue #:** Implement search options menu

[2019-07-31 22:15] koderjoker opened #253 "Implement search field"
Task Details

The following issue aims at implementing the search field for our search in the navbar.

Mockup for the search field
![Screen Shot 2019-08-01 at 3 42 00 AM](https://user-images.githubusercontent.com/30471843/62251857-b6bea500-b40e-11e9-9f67-db22bad6888c.png)

[2019-07-31 22:17] koderjoker opened #254 "Implement search options menu"
Task Details

The following issue aims at implementing the **search options menu** for our navbar search.

Mockup for the search options menu
![Screen Shot 2019-08-01 at 3 42 14 AM](https://user-images.githubusercontent.com/30471843/62251952-f9807d00-b40e-11e9-80a7-f3a8ad6a4125.png)

[2019-07-31 22:22] koderjoker opened #255 "Implement user menu"
**Task Details**

The following issue aims to implement our **user menu**.

Mockup for the same with components marked
![Screen Shot 2019-08-01 at 3 51 41 AM](https://user-images.githubusercontent.com/30471843/62252183-b4a91600-b40f-11e9-9197-3677fa79dd12.png)

[2019-07-31 22:35] koderjoker opened #256 "Dragging the yt player time slider to the end causes the current track to move to the next track"
**Expected behaviour**
Dragging the yt player time slider to the end should stop the video playback instead of causing the current track to move to the next track.
Can be seen in albums which have a single youtube video.

**Testing**
https://archive.org/details/cd_huangxiao/disc1/

![yt player](https://user-images.githubusercontent.com/30471843/62252691-364d7380-b411-11e9-87d2-5ab78576d318.gif)

[2019-08-01 20:36] iisa opened #258 "Create a link/request manager for Dweb to use new components"
**Context**

**Proposal & Constraints**

**Additional Resources**

**Success Metrics**

**Stakeholders**

[2019-08-01 23:19] iisa commented on #258
spec has changed

[2019-08-01 23:19] #258 closed

[2019-08-01 23:25] iisa opened #259 "Extend Music Player to play in Dweb site"
**Context**
Allow enhanced music player to work in the Internet Archive Dweb site

What has to be done:
- [ ] component must take it blob from /metadata api
- [ ] track parser must find the torrent files related to the track
- [ ] extend main component to receive new props
- [ ] has ability to swap out audio player

should do this:
[code]

[2019-08-01 23:25] iisa commented on #259
@mitra42 this is our placeholder issue to make this happen. smaller issues will most likely break out from this one.

[2019-08-01 23:29] iisa opened #260 "Compare IAUX BookReader wrapper with Dweb BookReader wrapper"
**Task Details**
- DWeb BookReader wrapper makes a call to `BookReaderJSIA` endpoint for manifest while the IAUX BookReader takes the manifest as a prop.

What can we do to consolidate to 1 React wrapped BookReader?

Just an overall audit, which may lead to more questions before defining spec & implementation.

[2019-08-01 23:29] iisa commented on #260
@mitra42 this is the ticket to investigate how we can consolidate BookReader components.

[2019-08-08 19:05] mitra42 opened #262 "Document props to all components"
**Task Details**

There are a number of components which take undocumented props, and what is worse in some cases (e.g. bookreader-wrapper-main) pass them on to other components or code so that it is almost impossible to figure out what they should be.

**Verification**
I guess that noone finds Components with missing props

**Stakeholders**
@jbuckner @iisa

[2019-08-08 20:20] mitra42 commented on #262
Here is a list of components missing reasonable documentation - feel free to Edit or add new comments  ....
- sandbox
  - bookreader-component
    - [ ] bookreader.js (unknown what component name for this)
    - [ ] bookreader-jsia.js BookReaderJsIa
    - [ ] bookreader-wrapper-main,jsx

[2019-08-08 21:15] mitra42 commented on #260
I'm not sure if you are WFH or PTO, so I'll update this thread as I learn more …

Just taking a look …, I'm seeing several things that you could be referring to as the IAUX wrapper.

`sandbox/threatres/bookreader-theatre` which calls ia-js-client and passes the data to a BookReaderJSIA component.  I'm presuming this isn't the wrapper you mean since AFAIK nothing in ia-js-client really works (I'm n

[2019-08-08 21:15] mitra42 commented on #260
@jbuckner  - do you know which of these components @iisa is using?

[2019-08-13 15:08] shaneriley opened #263 "Add Selenium Webdriver for integration tests within Jest"
References https://webarchive.jira.com/browse/WEBDEV-2474

[2019-08-14 11:32] #263 closed

[2019-08-14 11:35] shaneriley opened #266 "Add music player integration tests"

[2019-08-17 13:45] SomtochiAma commented on #253
Hello. I want to start contributing to internet archive. Can I work on this?

[2019-08-19 20:30] #266 closed

[2019-08-30 07:44] mitra42 commented on #260
@iisa -  could you take a look at the above ...

[2019-09-03 17:43] iisa commented on #260
sorry for the delay, `sandbox/bookreader-component/bookreader-wrapper-main` is the only component in play right now.

[2019-09-09 03:37] mitra42 commented on #260
Thanks they look basically the same but ...
I have a call
[code]
which fetches all the book data (the JSIA call) and then creates the book using BookReaderJSIA
while bookreader-wrapper-main just goes straight to `new BookReader`

I'm not sure what to do here, there is quite a bit of functionality in BookReaderJSIA including `extendBookReaderPrototype` which is fairly complex, so I don't have a lot

[2019-09-25 18:47] iisa opened #295 "Create Repo Templates"
We need repo templates to support the following stacks:

- lithtml, web components
- react
- dweb transforms

[2019-09-27 23:10] iisa commented on #221
done

[2019-09-27 23:10] #221 closed

[2019-09-27 23:11] iisa commented on #223
done

[2019-09-27 23:11] #223 closed

[2019-09-27 23:11] iisa commented on #222
done

[2019-09-27 23:11] #222 closed

[2019-09-27 23:11] iisa commented on #213
done

[2019-09-27 23:11] #213 closed

[2019-09-27 23:13] iisa commented on #80
closing. we have a new plan to move to Storybook 5.

[2019-09-27 23:13] #80 closed

[2019-09-27 23:15] iisa commented on #237
closing. already in.

[2019-09-27 23:15] #237 closed

[2019-09-27 23:21] iisa commented on #226
Research is complete and has been documented above by @koderjoker.  This issue is linked inside of our repo's wiki.

[2019-09-27 23:21] #226 closed

[2019-09-27 23:22] iisa commented on #152
Completed.

[2019-09-27 23:22] #152 closed

[2019-09-27 23:23] iisa commented on #103
Thanks for this, @Batey96! We are actively making this happen and have strategized around this - especially around ease of maintenance and ease of community contribution.  Will close this for now, and will announce in our slack channel when we have something more concrete.

[2019-09-27 23:23] #103 closed

[2019-09-27 23:28] iisa commented on #35
Thanks for pointing this out, @koderjoker!  We are in current development of a better layout of the login and signup pages as I type.

This is a primary principle we should all follow moving forward.

[2019-09-27 23:28] #35 closed

[2019-09-27 23:28] iisa commented on #234
done

[2019-09-27 23:28] #234 closed

[2019-09-27 23:32] iisa commented on #137
thanks @mitra42 , we will continue to forge our way through proper documentation 1 PR at a time.

[2019-09-27 23:32] #137 closed

[2019-09-27 23:34] iisa commented on #38
@koderjoker @pezvi what is the status of this?

[2019-09-27 23:34] #38 closed

[2019-09-27 23:37] iisa commented on #242
Currently, the only file left with `assert` is `example.test.js`

Acceptance criteria:
- [ ] swap out `assert` in `example.test.js` to `expect`
- [ ] test successfully runs
- [ ] remove `assert` from `package.json`

[2019-09-30 19:44] iisa opened #300 "BookReader Component: have Liner Notes Specific book reader options as importable"

[2019-09-30 20:02] iisa opened #301 "Music Player > Extend Storybook to correctly show an item's liner notes"

[2019-09-30 20:05] iisa opened #302 "Remove unused code: remove `audio-1` directory"
**Task Details**

delete this directory & any references to it:

https://github.com/internetarchive/iaux/tree/master/packages/ia-components/sandbox/theatres/audio-1

**Verification**

folder is removed, references [if any] are removed

[2019-09-30 20:06] iisa opened #303 "Remove unused code: remove `theatre-hamburger` directory"
**Task Details**

delete this directory & any references to it:

https://github.com/internetarchive/iaux/tree/master/packages/ia-components/sandbox/theatres/theatre-hamburger

**Verification**

folder is removed, references [if any] are removed

[2019-09-30 20:08] iisa opened #304 "Remove unused code: remove `bookreader-theatre` directory"
*Task Details*

delete this directory & any references to it:

https://github.com/internetarchive/iaux/tree/master/packages/ia-components/sandbox/theatres/bookreader-theatre

*Verification*

How can one confirm that the task is complete?

- [ ] folder is removed, references [if any] are removed
- [ ] local storybook instance runs without issues

[2019-09-30 20:12] iisa opened #305 "Remove unused code: remove `jwplayer-comp` directory"
**Task Details**

delete this directory & any references to it:

https://github.com/internetarchive/iaux/tree/master/packages/ia-components/sandbox/jwplayer-comp

**Verification**

How can one confirm that the task is complete?

- [ ] folder is removed, references [if any] are removed
- [ ] local storybook instance runs without issues

[2019-10-01 17:08] sztxr commented on #304
I'd like to give it a try :)

[2019-10-01 17:14] iisa commented on #304
sounds good @sztxr, thanks!

[2019-10-01 18:15] sztxr commented on #303
I'd like to take care of this one as well

[2019-10-01 21:44] kimuradev commented on #242
@iisa I will work on this ;)

[2019-10-02 00:33] kimuradev commented on #302
@iisa going help with this :)

[2019-10-03 23:19] iisa opened #312 "Mobile top nav: move files to new package directory"
We will create a new package for the mobile nav component.

To do so, we will follow @jbuckner's lead with teh radio player components.

Task:
- follow directory structure of current lit components
- make it for JS, not TS
- audit and ensure the scripts work in package.json
- have a working demo

[2019-10-03 23:25] iisa commented on #251
@koderjoker closing seeing that this is merged.

[2019-10-03 23:25] #251 closed

[2019-10-03 23:25] iisa commented on #250
@koderjoker closing as I see that this is merged.

[2019-10-03 23:25] #250 closed

[2019-10-03 23:25] iisa commented on #249
@koderjoker closing as this has been merged

[2019-10-03 23:25] #249 closed

[2019-10-03 23:26] iisa commented on #247
@koderjoker closing as it has been merged.

[2019-10-03 23:26] #247 closed

[2019-10-03 23:30] iisa opened #313 "Mobile top nav: search bar - emit custom events"
We want the search to stay free of AJAX.

Search menu should emanate custom events for the following:
- [ ] when someone submits a search
- [ ] when a user types (this one should be debounced to prevent too much firing)

[2019-10-03 23:47] iisa opened #314 "Mobile top nav: search bar - display possible autocomplete options for a user"
Mobile nav, and search bar should be able to receive data to display.

Example: User wants to search for "happiness" > As user types, a possible list of results show up under the search bar > user selects a result from the list

This is tied to #313

[2019-10-04 14:11] dewstend commented on #231
How can I replicate this bug?

[2019-10-04 19:31] koderjoker commented on #231
@dewstend in order to replicate this bug, after setting up the repo

1. Move into ia-components and run storybook
`cd packages/ia-components && yarn run storybook`
2. Click on "Theatres"
3. Click on "Audio with Youtube, Spotify"
4. Click on the "Youtube" channel
5. You can see the misfit thumbnail in the player on the left

[2019-10-07 16:49] dewstend commented on #231
I looked into this issue, and I tried doing modifications with DevTools, and I got this:
![photo_2019-10-07_11-29-52](https://user-images.githubusercontent.com/41499530/66325781-db933500-e8f5-11e9-8868-309d91c46304.jpg)
But turns out that you can't modify an iframe's CSS that easily, and the YouTube iFrame API doesn't expose the background-size attribute.
[An issue was posted at Google's Issue Tra

[2019-10-07 17:50] iisa opened #316 "Main Menu: clicking labels should also open up secondary window."
Problem:
Clicking on main menu label does not open up secondary menu.

![main-menu-click-label](https://user-images.githubusercontent.com/7840857/66335780-91f41b80-e8f0-11e9-808a-6e97631a7304.gif)

Acceptance:
- Clicking main menu labels opens secondary menu.
- icon and label is 1 group.

[2019-10-07 18:25] iisa opened #317 "Main Menu: clicking on icon does not bring up secondary menu"
Problem:
Flow: click on main menu hamburger to open main menu > click on icon to open up secondary menu > click on next main menu icon > secondary menu closes and does not display the next selection's secondary menu.  See gif

![main-menu-secondary-click](https://user-images.githubusercontent.com/7840857/66336257-9967f480-e8f1-11e9-8dc3-b8d512f8ead6.gif)

Acceptance:
On click of a main menu's icon

[2019-10-07 18:31] iisa opened #318 "Main Menu: on close, secondary menu should also close"
Problem:
When main menu closes and secondary menu is open, secondary menu does not close. See gif
![main-menu-close-2nd](https://user-images.githubusercontent.com/7840857/66338449-fe254e00-e8f5-11e9-8cbc-d51de1cdb3dc.gif)

Acceptance:
Secondary menu rolls up and closes when main menu is closed

[2019-10-07 23:40] iisa opened #319 "Media menu: on click, secondary slide out menu shows links pertaining to that medium"
Currently, we have a placeholder.  We need to be able to populate it with the right items

[2019-10-09 13:28] RocktimSaikia commented on #319
Can i work on it ?

[2019-10-10 06:19] iisa opened #329 "Menu: Close menu if open when user clicks or taps away"
In the new mobile nav component, when a click or tap event happens outside of the mobile nav while a menu is open, all menus should close.

[2019-10-24 13:48] iisa opened #332 "Add Release Script to `ia-components`"
Like our bookreader, we want to have a formalized script that cuts releases to NPM, updates our Changelog, and cuts git tags.

The entrypoint for this is here: https://github.com/internetarchive/bookreader/blob/master/package.json#L49

We want to adapt this for our IAUX repos.  `ia-components` is a good starting candidate.

[2019-10-29 21:50] iisa opened #335 "unit tests pass on ia-components"
Acceptance: when you run `yarn run test`, all unit tests pass

[2019-11-16 01:11] mitra42 commented on #260
Closing this as they are now integrated into a single wrapper `ia-components/sandbox/bookreader-component/bookreader-wrapper-main.jsx` which is included by both Dweb and the new media player (for liner notes).

[2019-11-16 01:11] #260 closed

[2019-12-30 23:58] iisa commented on #335
closing as this has been merged into master

[2019-12-30 23:58] #335 closed

[2019-12-31 00:20] iisa opened #360 "Move all components from ia-components/sandbox => ia-components/components"
**Task Details**
Currently, we have 2 directories that contain UI components inside of `ia-components` directory: `live` and `sandbox`.

We no longer need the differentiation between the two as all components in sandbox are now live and being used either in archive.org or dweb project.

live vs sandbox was an experiment on staging components into master while they are not fully fleshed out, at thi

[2019-12-31 01:22] mitra42 commented on #360
Whats the ETA on this iisa - would like to do a PR with all my stuff to merge so that happens before the refactor ?

[2019-12-31 01:25] iisa commented on #360
@mitra42 no hard time frame, just starting to create tickets around repo clean up. we will definitely get your fixes in before this task gets in.

[2019-12-31 03:38] mitra42 commented on #360
Great - is making ia-components its own repo a separate task for later (I.e. pulling it out of the lerna mess)

[2020-01-02 15:30] d80ep08th commented on #318
hey
is this issue still not closed?
I can help

[2020-01-07 00:06] iisa opened #362 "Storybook - reimagine test sample UI to group various examples of music player."
The Music Player's storybook example is getting unwieldy as the examples grow.

### Task:
Find and define the groupings that we need in order to easily manage the example set.

#### Dev notes:
check the following for possible groupings:

- UI defaults
  - what are we doing now
  - what we are missing
- Misshapen data & how to handle
  - LPs vs CDs vs digital albums, etc
  - CD scanner software ver

[2020-01-08 00:12] iisa opened #364 "Audio Player (audio-player-main.jsx) - if an item does not have a background photo, make sure it defaults to showing the waveform via JW Player"

[2020-01-11 13:40] imrishabh18 commented on #74
Hey, I am a beginner. @iisa can you tell me what should i do to implement this thing.

[2020-01-22 20:34] iamshreyash commented on #329
I am new to opensource. Which files should I refer to if I want to resolve this issue.

[2020-01-24 16:29] aashimgarg opened #372 "Bottom to top button"
There is no bottom to top button in the main page of this website . This feature will be helpful for the user to get to the top of the page easily .

[2020-01-24 16:30] aashimgarg commented on #372
@rchrd2

[2020-01-25 19:32] iamshreyash opened #374 "Implement feature to add comment instantaneously"
**Context**

**Proposal**

![comment_section](https://user-images.githubusercontent.com/54063419/73126253-621f6f80-3fd6-11ea-86f7-3f346309e5ce.gif)

**Additional Resources**

**Success Metrics**

[2020-01-27 16:44] iamshreyash commented on #41
@shreyansh23 i can see that this problem is still unsolved if you like i can work on it??

[2020-01-28 04:04] shreyansh23 commented on #41
@iamshreyash sure, you can work on this :+1: . I am not working on this.

[2020-01-29 17:46] shaneriley opened #378 "Create language select"
**Context**

DWeb would like to render a nicely styled component to select a language from a dropdown.

**Proposal & Constraints**

Create a React component that accepts an array of options for the dropdown, a string for the value of the currently selected language, and an optional callback that will be called with the newly selected language value as the first parameter. To reduce the number of a

[2020-01-29 17:52] iamshreyash commented on #41
i am having lil bit trouble in getting the codebase can anybody help me out? @shreyansh23 @koderjoker @iisa

[2020-02-03 16:41] #378 closed

[2020-02-06 15:14] shaneriley commented on #316
Looks like this was fixed. Closing.

[2020-02-06 15:14] #316 closed

[2020-02-06 17:21] shaneriley commented on #317
I think this was fixed as well.

[2020-02-06 17:21] #317 closed

[2020-02-06 21:19] shaneriley commented on #318
Looks like this has been fixed.

[2020-02-06 21:19] #318 closed

[2020-02-06 22:58] #364 closed

[2020-02-08 09:43] kartik918 commented on #372
You should rename the issue to "Implement scroll-to-top button" or something to better describe the idea.

[2020-02-10 14:58] KaranKS commented on #372
@kartik918 can you assign this to me ?

[2020-02-10 17:22] kartik918 commented on #372
If you want to get involved, you can start from the goals list in projects section.

[2020-02-12 11:11] KaranKS commented on #304
@iisa I guess it's completed. Can you please confirm and close the issue.

[2020-02-13 14:05] kartik918 opened #388 "Cover Art Archive short description layout positioning error"
**Description**
Visit https://archive.org/details/coverartarchive

**Screenshot**
![Screenshot (25)](https://user-images.githubusercontent.com/48270786/74442054-d7c08200-4e96-11ea-8fb4-572c5ced73e4.png)

**Expectation**
Text should not be covered halfway up.

**Proposal & Constraints**
Maybe reduce description to a single line or adjust styling accordingly.

[2020-02-13 18:59] jbuckner opened #390 "Upgrade Typescript Components to TS 3.7"
**Task Details**

[code]
to
[code]

**Verification**

**Stakeholders**

[2020-02-15 20:52] aashimgarg opened #391 "Various git commands from the README.md are missing."
Various commands such as :- How to make a pull request using terminal.
 How to update your local master branch.

[2020-02-15 20:53] aashimgarg commented on #391
@iisa @jbuckner should i work on this?

[2020-02-17 13:01] RisingGeek commented on #360
Is anybody doing this task? If not, @iisa Could you please assign the task to me?

[2020-02-20 20:12] Dharmesh-Poddar commented on #388
@kartik918  can I work on it..

[2020-02-21 06:27] bistaastha commented on #84
@bfalling Hi! Can I work on this?

[2020-02-21 11:16] KaranKS commented on #372
What do you mean by "main page"?

[2020-02-21 14:18] kartik918 commented on #388
You can work on it if you want but I think the UI is being overhauled in one of the development branches so it might be fixed soon.

[2020-02-21 16:29] bistaastha commented on #84
@sarru1291 Hi! I saw this issue in action on archive.org . However, I am unable to figure out what module in this repository might result in this styling problem. Can you please help me with this?

[2020-02-22 04:59] sarru1291 commented on #84
@bistaastha Sorry to say but currently, I'm not following up with internet archive repo. The repository has good documentation, so look carefully you'll find out the section for UI development.

[2020-02-22 10:56] maze-runnar commented on #390
@jbuckner I want to work on this issue.

[2020-02-22 11:15] maze-runnar commented on #390
@jbuckner,  I am a GSoC aspirant and looking for contributions to this project. I am good in react, python(Flask, Django) and javaScript. I have seen the projects list and personally want to work on https://github.com/internetarchive/iaux/projects/2. I have good knowledge and experience in UI/UX.
I am a core contributor(50+ pull Requests) in https://github.com/fossasia/open-event-frontend, which i

[2020-02-22 18:26] maze-runnar commented on #329
@iisa can you please help me with files for the issue?

[2020-02-28 05:57] sonali623 commented on #374
Is this issue still open? I would like to work on it.

[2020-03-01 21:41] SunnySaheb commented on #302
@iisa mam, I want to work on this issue, is it already done

[2020-03-01 21:44] SunnySaheb commented on #372
is it already finished, i want to work on this. can anyone kindly tell

[2020-03-01 21:55] SunnySaheb commented on #303
@iisa mam, is it already done, I want to work on this

[2020-03-02 21:07] CapriciousRebel commented on #374
Hello, I would Like to work on this issue. Can someone please guide me?

[2020-03-03 11:36] CapriciousRebel commented on #42
Hello, I would like to work on this issue, Can someone please guide me?

[2020-03-03 12:59] CapriciousRebel commented on #329
Hello, I would like to work on this issue, can someone please guide me?

[2020-03-07 10:42] harshit0603 commented on #372
how to find html file of this site

[2020-03-07 18:46] mhk19 commented on #390
@jbuckner i want to work on this issue

[2020-03-08 09:42] anishagg17 commented on #242
@iisa i think this issue is closed now

[2020-03-08 10:03] anishagg17 commented on #305
@iisa I think it's closed

[2020-03-10 09:00] maze-runnar opened #406 "build Donation banners component"
**Task Details**

build a donation banner component .
**Verification**
I want to work on this.

**Stakeholders**

[2020-03-11 23:00] sarthak-m-das commented on #406
Can I work on this

[2020-03-11 23:01] sarthak-m-das commented on #406
I would like to work on this.

[2020-03-14 05:37] lelouchB commented on #176
@iisa @shaneriley  I want to work on this issue
Please assign me

[2020-03-14 19:29] mhk19 commented on #388
@iisa where can i find its html,css,js

[2020-03-15 09:22] mhk19 commented on #262
@mitra42  i want to solve this issue

[2020-03-15 09:44] mitra42 commented on #262
I'm not working on the IAUX code at all these days, so I think figuring out with @iisa or @jbuckner would be a good way to get involved.

[2020-03-17 07:54] shaneriley commented on #329
This is already fixed in #394

[2020-03-19 08:08] Subhang23 commented on #254
Hi, I would like to work on this. @koderjoker Can you please tell me as to what should be done?

[2020-03-25 15:04] bharathbiju commented on #406
@maze-runnar could you give a basic layout for the donation banner , i would like to work on it

[2020-03-30 15:48] #332 closed

[2020-03-31 16:40] #329 closed

[2020-05-08 03:50] #406 closed

[2020-07-07 15:53] iisa opened #473 "Update Jest => Karma in ia-components"
**Context**

We have found that karma is the runner we need to move towards automating tests

**Proposal & Constraints**

In ia-components, turn jest to karma (+ react) and make sure all of the tests pass.

**Success Metrics**

We will be able to automatically run the same `npm test` command across repos

[2020-08-28 01:32] DoomTay opened #485 "Allow for seeking by clicking on the waveform where available"
I find myself clicking on the waveform instead of the actual seekbar to jump to another point in the song. It would be nice if the waveform could be used as a second seekbar.

[2020-10-05 12:01] Yashs911 commented on #473
Hi @iisa I would Iike to work on this issue. Can you please guide me on what all changes do I need to make and in which file.

[2020-10-31 08:09] AdityaKG-169 commented on #302
Hey! I would like to work on this issue if it is still valid.

[2020-11-13 07:44] nektro commented on #242
@iisa would you be able to close this issue if this is resolved since the PR was merged?

[2020-12-10 05:14] Bayashka1234 opened #503 "https://github.com/internetarchive/openlibrary.wiki.git"
**Description**

**Evidence / Screenshot (if possible)**

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

[2020-12-10 05:15] #503 closed

[2020-12-10 05:15] Bayashka1234 commented on #503
https://github.com/internetarchive/openlibrary.wiki.git

[2020-12-10 05:15] Bayashka1234 commented on #503
``

[2020-12-24 22:47] ritvikmahajan17 commented on #37
can I work on this?

[2021-01-15 15:27] arnab15 commented on #388
I found a UI bug on the homepage can anyone tell me which repo I can find the homepage Top Collections at the Archive section  of archive.org

[2021-02-15 11:23] KUMARI-ASTHA commented on #73
I would like to work on this issue.  @koderjoker

[2021-02-27 09:41] thesixpathguy commented on #303
is the issue still open?

[2021-03-10 06:57] vmk8826 commented on #44
can you assign it to me I am a GSoC 2021 aspirant

[2021-03-10 07:18] vmk8826 commented on #43
can you assign it to me I am a GSoC 2021 aspirant

[2021-03-10 10:18] vmk8826 commented on #117
Can you assign it to me I am a GSoC 2021 aspirant

[2021-03-13 06:52] Swapnil-2001 opened #523 "Problem running local UI component development environment"
Hello everyone, my name is Swapnil Sengupta and I'm a student of Jadavpur University, Kolkata. I would love to contribute to this repository. I followed the setup instructions and installed dependencies on all packages.

However when running local UI component development environment, I ran into some issues.

![Hyper 13-03-2021 12_14_50](https://user-images.githubusercontent.com/53232360/111022078

[2021-03-14 08:22] elit-altum opened #524 "Add yarn.lock across the project to .gitignore"
**What is the context for this discussion?**

**Elaborate on the discussion topic.**

Looking at the scenario I can suggest the following options:
1. Add all lock files to gitignore so they are not tracked by git in the future.
2. Enforce all future installations of the codebase to use the same lock file by suggesting devs to use ```yarn install --frozen-lockfile``` instead of ```yarn install``` f

[2021-03-14 18:37] Swapnil-2001 commented on #524
@elit-altum can I make a PR adding lock files to gitignore?

[2021-03-14 19:32] elit-altum commented on #524
@Swapnil-2001 I have opened this thread for discussion here, I already have a PR ready for this!

[2021-03-15 06:13] Swapnil-2001 commented on #524
Oh okay okay.

[2021-03-15 08:05] sarthakkundra opened #526 "Add a continuous integration github action"
**Context**

There are component wise tests written so it'll be great if there's a CI action to make sure no breaking changes are there. This will also make PR review easier. A lot of new PRs will be there in the consequent time due to GSoC so I guess this feature will be a decent safety net for the project.

**Proposal & Constraints**

Adding a Github action. Yes.

**Success Metrics**

The action

[2021-03-16 20:37] Swapnil-2001 opened #528 "Selected quick search entry doesn't show up in input field after search is cleared"
**Description**

In the **expandable search bar**, where we have a quick search functionality, selecting a quick search item does not make it show up in the input field, **after** the `clear search` event has been triggered once. As long as the `clear search` is not triggered, it works fine.

**Evidence / Screenshot (if possible)**

https://user-images.githubusercontent.com/53232360/111375983-ea72

[2021-03-17 15:03] Swapnil-2001 opened #529 "Error when demoing scrubber-bar with storybook"
**Description**

Running `yarn storybook` inside _**packages/scrubber-bar**_ throws up an error.

**Evidence / Screenshot (if possible)**

![Storybook - Google Chrome 17-03-2021 20_24_06](https://user-images.githubusercontent.com/53232360/111488938-b6982800-875f-11eb-8126-7e1fd15febb8.png)

**Context**

Windows 10, Google Chrome Version 89.0.4389.82

**Proposal & Constraints**

This is likely due

[2021-03-18 09:35] AkshadK7 commented on #372
Hey, is this Feature Request issue already Resolved ? @aashimgarg

[2021-03-18 09:37] AkshadK7 commented on #37
Is this Enhancement Issue already Resolved ?  @koderjoker

[2021-03-18 12:46] #372 closed

[2021-03-18 18:56] Swapnil-2001 opened #534 "Error when running 'yarn storybook' from expandable-search-bar"
**Description**

Running `yarn storybook` from **packages/expandable-search-bar** throws up errors.

**Evidence / Screenshot (if possible)**

![Hyper 18-03-2021 23_43_56](https://user-images.githubusercontent.com/53232360/111681425-35b55b00-8849-11eb-8c37-56a2a64de058.png)

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

[2021-03-19 02:01] crew-guy opened #536 "Obsolete information in README.md"
**Description**

The README.md has details about only 4 packages instead of  **all** the packages.

**Evidence / Screenshot (if possible)**

![Screenshot from 2021-03-19 07-26-24](https://user-images.githubusercontent.com/69717009/111720860-bfcee500-8884-11eb-8bce-3e3a4ab45bff.png)

**Expectation**

Just add some documentation for all the mentioned packages so that it is easier for newcomers to on

[2021-03-19 02:02] crew-guy commented on #536
May I please work on this issue ?

[2021-03-19 02:03] crew-guy commented on #536
I will be shortly adding a PR to close this

[2021-03-19 06:27] Priyaraj17 commented on #536
Is this issue open? May I work on this?

[2021-03-19 06:29] Priyaraj17 commented on #391
Is this issue open? May I work on this?

[2021-03-19 06:52] crew-guy commented on #536
I am working on this. Just need an approval to make my PR

[2021-03-19 13:46] #391 closed

[2021-03-20 08:37] crew-guy commented on #360
Hi ! Is this issue resolved ? I would really like to work on it .... 😄

[2021-03-22 15:30] iisa commented on #360
hi, thanks so much for being able to lend a hand. this issue was just resolved.

[2021-03-22 15:30] #360 closed

[2021-03-26 18:50] Swapnil-2001 opened #543 "Request guidance for GSOC 2021"
Hello,

My name is Swapnil Sengupta and I'm a second year student of Jadavpur University, Kolkata, India. I would love to work with the Internet Archive on the **Archive.org Front-end Web Components (IAUX)** project as a part of this year's GSOC, as described in the official [Project Ideas page](https://docs.google.com/document/d/1qt1dfk6rNE3yzMJXbriDjpeDrn6LQeiXviREvnXP6bE/edit#).

There isn't mu

[2021-03-29 16:05] kaiwalyakoparkar commented on #543
Same assistance needed.

[2021-04-02 09:01] crew-guy commented on #543
Hey Swapnil ! I am Ankit, I wish to apply for the **Bookreader** project with Internet Archive. Since we both seem to be beginners, let's get in touch and help each other grow this codebase and do something meaningful
I'm connecting with you on LinkedIn so that we can share further contact details and interact faster !

[2021-04-02 17:47] Swapnil-2001 commented on #543
Sure, @crew-guy, sounds great!

[2021-04-05 17:41] thomaskuntzz commented on #543
Hi, I’m Thomas, I’m currently studying Computer Science at EPFL and I would also be interested to submit a GSoC 2021 proposal for IAUX, but can’t really find information about how to go about it besides the aforementioned [Google Doc](https://docs.google.com/document/d/1qt1dfk6rNE3yzMJXbriDjpeDrn6LQeiXviREvnXP6bE/edit#). Should I just send an email to info@archive.org?

[2021-04-09 01:17] crew-guy opened #548 "IAUX Project, GSoC 2021 Proposal"
**Respected Recipient,**

I am Ankit Sanghvi, a 19 year old **full stack developer** from India. I have been programming in this domain for over a year now and wish to contribute back to the community.  🚀

I have been an avid user of this amazing software and have really learnt a lot not only from the books I borrowed, but from your constant **relentlessness** to make education and information ava

[2021-04-12 13:01] mekarpeles commented on #543
Hi everyone, Mek here from the Internet Archive's https://github.com/internetarchive/openlibrary project. I lead a different team so I may not be the perfect resource, but I'll do my darnedest to make sure everyone is taken care of. Please accept my apology that we didn't somehow connect the dots on this issue. We were under the impression that GSoC requests were being correctly routed to our staf

[2021-04-12 13:02] mekarpeles commented on #548
Replied here:
https://github.com/internetarchive/iaux/issues/543

[2021-04-12 13:02] #548 closed

[2021-04-12 13:58] crew-guy commented on #543
Thanks a lot Mek !! Glad you came for us 🙏🏻

[2021-04-12 20:04] sarthakkundra commented on #543
Hi @mekarpeles I had emailed Mr Mitra Ardron who forwaded my email to you. It'll be great if you can revert to that, it'll be great. I can email you again if that's required :)

[2021-04-12 22:18] jbuckner opened #550 "Fix and re-enable `ia-components` tests"
**Task Details**

**Verification**

**Stakeholders**

[2021-04-13 07:33] crew-guy commented on #550
Hey ! I would like to work on this. How can I proceed about this ?

[2021-04-13 12:47] sarthakkundra commented on #550
Hey @crew-guy I think you should run `yarn test` inside the said directory which will tell you the failing tests. You can then proceed about to fixing them :)

[2021-04-13 12:57] crew-guy commented on #550
Gotcha ! Thanks. I'm working on this !

[2021-04-13 13:41] Krishna-Sivakumar commented on #543
Hello @mekarpeles, I've emailed you too!

[2021-04-15 10:13] crew-guy opened #551 "Adding jsDoc to iaux code"
**Context**
Documentation of the codebase is less **recent** . Issue #536

**Proposal & Constraints**
Instead of updating the README.md, I suggest we go forward with jsDoc for documenting everything systematically

**Success Metrics**
Less doubts by new collaborators joining the **iaux** project

**Stakeholders**

@iisa @jbuckner @mekarpeles

[2021-04-21 20:05] #543 closed

[2021-04-22 13:44] sarthakkundra commented on #550
@crew-guy Are you still working on this?

[2021-04-23 13:09] crew-guy commented on #550
Yeah ! I was actually down with covid for a while so I was resting but I have resumed programming since the past 3 days. I am working on this issue right now

[2021-04-28 10:51] sarthakkundra commented on #550
Hey @crew-guy just checking in. Any progress / blockers?

[2021-05-01 08:50] crew-guy commented on #550
Sorry. I got busy with a couple of my friends to help verify leads for covid and build a portal for the same. I know what I went through so I started helping other people with the same. I'll resume working once I reach back home after 5 hours

[2021-05-28 23:21] jbuckner opened #573 "Remove storybook from scrubber-bar package"
**Task Details**

**Verification**

**Stakeholders**

Replaces https://github.com/internetarchive/iaux/issues/529

[2021-05-28 23:21] jbuckner commented on #529
Replacing this with https://github.com/internetarchive/iaux/issues/573

[2021-05-28 23:21] #529 closed

[2021-05-28 23:22] jbuckner opened #574 "Remove storybook from expandable-search-bar package"
**Task Details**

**Verification**

**Stakeholders**

Replaces https://github.com/internetarchive/iaux/issues/534

[2021-05-28 23:23] jbuckner commented on #534
Replacing this with https://github.com/internetarchive/iaux/issues/574

[2021-05-28 23:23] #534 closed

[2021-05-28 23:26] jbuckner commented on #524
What is the issue that's happening here? Are you seeing the `yarn.lock` file change?

[2021-06-08 08:42] soham4abc commented on #574
I can work in this issue

[2021-06-09 17:32] #574 closed

[2021-06-09 17:34] soham4abc commented on #573
I can do this If possible pls assign

[2021-06-09 17:37] jbuckner commented on #573
It's yours!

[2021-06-09 19:56] #573 closed

[2021-06-13 06:06] soham4abc commented on #550
I am working on this issue right away!

[2021-06-24 20:02] kitarp29 commented on #526
Hi @sarthakkundra!
I have started to work on Github Actions.
I would love to work on this Issue.
Please assign me this and let me know what you need in the Github action?

[2021-06-24 20:27] sarthakkundra commented on #526
Hey @kitarp29. It is already there in the codebase.

[2021-11-23 17:05] h2o-Noob commented on #259
@iisa hey i would like to work on this issues, please assign it to me

[2021-11-23 17:47] h2o-Noob opened #611 "Collection identifier text not visible in dark theme"
**Description**

In AudioWithLinearNotes under Theater group, Audio identifier are not visible in dark theme.

**Evidence / Screenshot (if possible)**

![ia light](https://user-images.githubusercontent.com/85777684/143076428-5a2f5e06-a713-4bfd-8c09-636d3ea18522.png)
after turning on dark mode
![ia dark](https://user-images.githubusercontent.com/85777684/143076510-e36b6275-82ba-425e-b87e-25e2b65e9c

[2021-11-23 17:47] h2o-Noob commented on #611
I want to work on this issue

[2021-12-02 20:17] shubhangi013 commented on #304
Is this issue active now? I'd like to contribute.

[2021-12-07 05:45] #551 closed

[2021-12-07 05:46] #536 closed

[2021-12-26 04:19] HarshJaiswani commented on #611
I want to work on this issue can anyone please guide me how to procede

[2022-01-31 05:49] Tusharkhati commented on #611
hey, there this seems intrusting.  please allow me to work on this issue. Thanks.

[2022-02-18 06:03] JOY2OP commented on #305
Can I work on this?

[2022-09-03 09:44] ghostroute opened #750 "Wayback machine: link renderer creates redundant https://web.archive.org/web/.../http://web.archive.org/web/ links"
Wow, so it's quite hard to find how to report a bug against the wayback machine. (My duckduckgo-fu might not be strong enough to get around WBM's success.) I hope this is the (an) appropriate place.

** Problem **

I archived today a ycombinator post, and read it through WBM:
https://web.archive.org/web/20220903091448/https://news.ycombinator.com/item?id=27553274

One of the comments (the fourth o